- semantic_form_for @listing do |form|
  = form.error_messages
  - form.inputs :name => "Listing" do
    = form.input :price
    = form.inputs :for => :property, :name => "Property"
  = form.buttons

