- simple_form_for @enquiry do |f|
  = f.error_messages
  =f.input :enquiry_type, |
              :as => :select, |
              :collection => Enquiry::ENQUIRE_TYPES, |
              :hint => "The type of enquire you are making to the lister", |
              :default => "application" |
  =f.input :comment, :label => "Comment", :input_html => {:cols => 25, :rows => 5}
  =f.input :available_date_from, :label => "Date From"
  =f.input :available_date_to, :label => "To"
  =f.input :listing_id, :as => :hidden, :value => @enquiry.listing.id
  =f.button :submit